<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.dao.PassengerMapper">


  <select id="findPassengerByName" parameterType="string" resultType="passenger">

    SELECT * from passenger WHERE `name`  LIKE #{name}

  </select>

  <select id="findAllPassenger" resultType="passenger">
    SELECT * FROM passenger WHERE del_flag=0;
  </select>

  <select id="findAllPassengerCount" resultType="int">
    SELECT count(*) FROM passenger
  </select>

  <insert id="addPassenger" parameterType="passenger" >
    INSERT INTO passenger VALUES (NULL ,#{name},#{genderID},#{genderName},#{birthDate},#{nationID},#{nationName},#{licenceIssuingAuthorty}
    ,#{papersValidity},#{profession},#{educationDegreeID},#{educationDegreeName},#{passengerLevelID},#{passengerLevelName},#{papersID},
    #{papersName},#{papersNumber},#{unitsOrAddress},#{thingReasonID},#{thingReasonName},#{whereAreFrom},#{whereToGo},
    #{contactPhoneNumber},#{remarks},0)
  </insert>



  <!--<resultMap id="passengervo" type="passengerVO">-->
    <!--<id property=""-->
  <!--</resultMap>-->
  <!--查出旅客的信息，但是下拉的是id属性，需要转换成对应的具体的属性名称，可以用id去连接查询，但是在哪里去接收？-->
  <select id="findPartPassenger" parameterType="map" resultType="passenger">
    SELECT * FROM passenger  WHERE  `name` LIKE #{name}   limit #{limit}  offset #{offset}
  </select>

  <select id="findPassengerAttributeByID"  parameterType="int" resultType="string">
    SELECT  attributeDetailsName FROM listone LEFT JOIN listtwo ON listtwo.id=listone.`attributeID` WHERE listOne.`id`=#{xxx};
  </select>


  <!--更新旅客信息-->
  <update id="updatePassenger" parameterType="passenger" >

    UPDATE passenger SET name=#{name},genderID=#{genderID},genderName=#{genderName},birthDate=#{birthDate},nationID=#{nationID},
    nationName=#{nationName},licenceIssuingAuthorty=#{licenceIssuingAuthorty},papersValidity=#{papersValidity},profession=#{profession},
    educationDegreeID=#{educationDegreeID},educationDegreeName=#{educationDegreeName},passengerLevelID=#{passengerLevelID}
    ,passengerLevelName=#{passengerLevelName},papersID=#{papersID}, papersName=#{papersName},papersNumber=#{papersNumber},
    unitsOrAddress=#{unitsOrAddress},thingReasonID=#{thingReasonID},thingReasonName=#{thingReasonName},whereAreFrom=#{whereAreFrom},
    whereToGo=#{whereToGo},  contactPhoneNumber=#{contactPhoneNumber},remarks=#{remarks},del_flag=0 WHERE `name`=#{name}
  </update>

  <update id="deletePassenger" parameterType="passenger">

    UPDATE passenger SET del_flag=1 WHERE `id`=#{id}

  </update>
  <!--mybaits逆向工程自动生成的-->
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Passenger">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Apr 11 11:16:49 CST 2018.
    -->
    <id column="passengerId" jdbcType="INTEGER" property="passengerid" />
    <result column="passengerName" jdbcType="VARCHAR" property="passengername" />
    <result column="genderName" jdbcType="VARCHAR" property="gendername" />
    <result column="birthDate" jdbcType="DATE" property="birthdate" />
    <result column="nationName" jdbcType="VARCHAR" property="nationname" />
    <result column="tourIdentifyInstisution" jdbcType="VARCHAR" property="touridentifyinstisution" />
    <result column="tourIdentifyValidDate" jdbcType="DATE" property="touridentifyvaliddate" />
    <result column="tourRank" jdbcType="VARCHAR" property="tourrank" />
    <result column="tourIdentifyType" jdbcType="VARCHAR" property="touridentifytype" />
    <result column="CardId" jdbcType="VARCHAR" property="cardid" />
    <result column="tourCareer" jdbcType="VARCHAR" property="tourcareer" />
    <result column="tourDegreeId" jdbcType="VARCHAR" property="tourdegreeid" />
    <result column="tourAddress" jdbcType="VARCHAR" property="touraddress" />
    <result column="tourForPropose" jdbcType="VARCHAR" property="tourforpropose" />
    <result column="tourFromPlace" jdbcType="VARCHAR" property="tourfromplace" />
    <result column="tourToPlace" jdbcType="VARCHAR" property="tourtoplace" />
    <result column="tourContacePhone" jdbcType="INTEGER" property="tourcontacephone" />
    <result column="tourComment" jdbcType="VARCHAR" property="tourcomment" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Apr 11 11:16:49 CST 2018.
    -->
    passengerId, passengerName, genderName, birthDate, nationName, tourIdentifyInstisution, 
    tourIdentifyValidDate, tourRank, tourIdentifyType, CardId, tourCareer, tourDegreeId, 
    tourAddress, tourForPropose, tourFromPlace, tourToPlace, tourContacePhone, tourComment, 
    del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Apr 11 11:16:49 CST 2018.
    -->
    select 
    <include refid="Base_Column_List" />
    from passenger
    where passengerId = #{passengerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Apr 11 11:16:49 CST 2018.
    -->
    delete from passenger
    where passengerId = #{passengerid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.bean.Passenger">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Apr 11 11:16:49 CST 2018.
    -->
    insert into passenger (passengerId, passengerName, genderName, 
      birthDate, nationName, tourIdentifyInstisution, 
      tourIdentifyValidDate, tourRank, tourIdentifyType, 
      CardId, tourCareer, tourDegreeId, 
      tourAddress, tourForPropose, tourFromPlace, 
      tourToPlace, tourContacePhone, tourComment, 
      del_flag)
    values (#{passengerid,jdbcType=INTEGER}, #{passengername,jdbcType=VARCHAR}, #{gendername,jdbcType=VARCHAR}, 
      #{birthdate,jdbcType=DATE}, #{nationname,jdbcType=VARCHAR}, #{touridentifyinstisution,jdbcType=VARCHAR}, 
      #{touridentifyvaliddate,jdbcType=DATE}, #{tourrank,jdbcType=VARCHAR}, #{touridentifytype,jdbcType=VARCHAR}, 
      #{cardid,jdbcType=VARCHAR}, #{tourcareer,jdbcType=VARCHAR}, #{tourdegreeid,jdbcType=VARCHAR}, 
      #{touraddress,jdbcType=VARCHAR}, #{tourforpropose,jdbcType=VARCHAR}, #{tourfromplace,jdbcType=VARCHAR}, 
      #{tourtoplace,jdbcType=VARCHAR}, #{tourcontacephone,jdbcType=INTEGER}, #{tourcomment,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.bean.Passenger">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Apr 11 11:16:49 CST 2018.
    -->
    insert into passenger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="passengerid != null">
        passengerId,
      </if>
      <if test="passengername != null">
        passengerName,
      </if>
      <if test="gendername != null">
        genderName,
      </if>
      <if test="birthdate != null">
        birthDate,
      </if>
      <if test="nationname != null">
        nationName,
      </if>
      <if test="touridentifyinstisution != null">
        tourIdentifyInstisution,
      </if>
      <if test="touridentifyvaliddate != null">
        tourIdentifyValidDate,
      </if>
      <if test="tourrank != null">
        tourRank,
      </if>
      <if test="touridentifytype != null">
        tourIdentifyType,
      </if>
      <if test="cardid != null">
        CardId,
      </if>
      <if test="tourcareer != null">
        tourCareer,
      </if>
      <if test="tourdegreeid != null">
        tourDegreeId,
      </if>
      <if test="touraddress != null">
        tourAddress,
      </if>
      <if test="tourforpropose != null">
        tourForPropose,
      </if>
      <if test="tourfromplace != null">
        tourFromPlace,
      </if>
      <if test="tourtoplace != null">
        tourToPlace,
      </if>
      <if test="tourcontacephone != null">
        tourContacePhone,
      </if>
      <if test="tourcomment != null">
        tourComment,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="passengerid != null">
        #{passengerid,jdbcType=INTEGER},
      </if>
      <if test="passengername != null">
        #{passengername,jdbcType=VARCHAR},
      </if>
      <if test="gendername != null">
        #{gendername,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=DATE},
      </if>
      <if test="nationname != null">
        #{nationname,jdbcType=VARCHAR},
      </if>
      <if test="touridentifyinstisution != null">
        #{touridentifyinstisution,jdbcType=VARCHAR},
      </if>
      <if test="touridentifyvaliddate != null">
        #{touridentifyvaliddate,jdbcType=DATE},
      </if>
      <if test="tourrank != null">
        #{tourrank,jdbcType=VARCHAR},
      </if>
      <if test="touridentifytype != null">
        #{touridentifytype,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null">
        #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="tourcareer != null">
        #{tourcareer,jdbcType=VARCHAR},
      </if>
      <if test="tourdegreeid != null">
        #{tourdegreeid,jdbcType=VARCHAR},
      </if>
      <if test="touraddress != null">
        #{touraddress,jdbcType=VARCHAR},
      </if>
      <if test="tourforpropose != null">
        #{tourforpropose,jdbcType=VARCHAR},
      </if>
      <if test="tourfromplace != null">
        #{tourfromplace,jdbcType=VARCHAR},
      </if>
      <if test="tourtoplace != null">
        #{tourtoplace,jdbcType=VARCHAR},
      </if>
      <if test="tourcontacephone != null">
        #{tourcontacephone,jdbcType=INTEGER},
      </if>
      <if test="tourcomment != null">
        #{tourcomment,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.bean.Passenger">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Apr 11 11:16:49 CST 2018.
    -->
    update passenger
    <set>
      <if test="passengername != null">
        passengerName = #{passengername,jdbcType=VARCHAR},
      </if>
      <if test="gendername != null">
        genderName = #{gendername,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        birthDate = #{birthdate,jdbcType=DATE},
      </if>
      <if test="nationname != null">
        nationName = #{nationname,jdbcType=VARCHAR},
      </if>
      <if test="touridentifyinstisution != null">
        tourIdentifyInstisution = #{touridentifyinstisution,jdbcType=VARCHAR},
      </if>
      <if test="touridentifyvaliddate != null">
        tourIdentifyValidDate = #{touridentifyvaliddate,jdbcType=DATE},
      </if>
      <if test="tourrank != null">
        tourRank = #{tourrank,jdbcType=VARCHAR},
      </if>
      <if test="touridentifytype != null">
        tourIdentifyType = #{touridentifytype,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null">
        CardId = #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="tourcareer != null">
        tourCareer = #{tourcareer,jdbcType=VARCHAR},
      </if>
      <if test="tourdegreeid != null">
        tourDegreeId = #{tourdegreeid,jdbcType=VARCHAR},
      </if>
      <if test="touraddress != null">
        tourAddress = #{touraddress,jdbcType=VARCHAR},
      </if>
      <if test="tourforpropose != null">
        tourForPropose = #{tourforpropose,jdbcType=VARCHAR},
      </if>
      <if test="tourfromplace != null">
        tourFromPlace = #{tourfromplace,jdbcType=VARCHAR},
      </if>
      <if test="tourtoplace != null">
        tourToPlace = #{tourtoplace,jdbcType=VARCHAR},
      </if>
      <if test="tourcontacephone != null">
        tourContacePhone = #{tourcontacephone,jdbcType=INTEGER},
      </if>
      <if test="tourcomment != null">
        tourComment = #{tourcomment,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where passengerId = #{passengerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.Passenger">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Apr 11 11:16:49 CST 2018.
    -->
    update passenger
    set passengerName = #{passengername,jdbcType=VARCHAR},
      genderName = #{gendername,jdbcType=VARCHAR},
      birthDate = #{birthdate,jdbcType=DATE},
      nationName = #{nationname,jdbcType=VARCHAR},
      tourIdentifyInstisution = #{touridentifyinstisution,jdbcType=VARCHAR},
      tourIdentifyValidDate = #{touridentifyvaliddate,jdbcType=DATE},
      tourRank = #{tourrank,jdbcType=VARCHAR},
      tourIdentifyType = #{touridentifytype,jdbcType=VARCHAR},
      CardId = #{cardid,jdbcType=VARCHAR},
      tourCareer = #{tourcareer,jdbcType=VARCHAR},
      tourDegreeId = #{tourdegreeid,jdbcType=VARCHAR},
      tourAddress = #{touraddress,jdbcType=VARCHAR},
      tourForPropose = #{tourforpropose,jdbcType=VARCHAR},
      tourFromPlace = #{tourfromplace,jdbcType=VARCHAR},
      tourToPlace = #{tourtoplace,jdbcType=VARCHAR},
      tourContacePhone = #{tourcontacephone,jdbcType=INTEGER},
      tourComment = #{tourcomment,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where passengerId = #{passengerid,jdbcType=INTEGER}
  </update>
</mapper>